.page-home {
  .share-destinasi {
    margin-top: 110px;
    .content-share-destinasi {
      margin-top: 61px;

      h5 {
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        color: #439a97;
      }

      h2 {
        font-size: 30px;
        font-weight: 600;
        line-height: normal;
        color: #014539;
      }
      h4 {
        color: #439a97;
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
      }
      p {
        color: #8a8a8a;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
