.page-menu {
  .nana-one {
    margin-top: 60px;
    margin-left: 1054px;
  }

  .nana-two {
    position: relative;
    margin-top: 60px;
    margin-left: -35px;
  }

  .menu {
    padding-top: 60px;

    h1 em {
      font-style: normal;
      color: #d44000;
    }

    h1 {
      font-weight: 900;
      font-size: 36px;
      line-height: 96px;
      color: white;
    }

    p {
      font-size: 18px;
      line-height: 27px;
      color: #7c7b7b;
    }
  }

  .content-menu {
    margin-top: 61px;
  }
}
