.page-home {
  h5 {
    font-weight: 388;
    margin-bottom: 15px;
  }

  .jumbotron {
    margin-top: 20px;
  }

  .fitur {
    margin-top: 85px;
  }

  .scan-qr {
    margin-top: 85px;
  }

  .contact {
    margin-top: 110px;
  }
}
